* {
    /* border: 1px solid black; */
    margin: 0;
    font-family: "Open Sans";
}

header {
    padding: 30px;
    background: #004175;
    color: white;
    font-size: 30;
    border-bottom: 3px solid #89DEEF;
}

h1 {
    margin: 0px 0px 0px 15px; 
}

h3 {
    margin: 20px 0px 12px 50px;
}

#Adoption-Form {
    margin: 0px 0px 0px 50px;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 25px;
    padding-left: 20px;
    padding-right: 20px; 
    grid-column-gap: 10px;
}

.dog {
    flex: 18rem;
    min-width: 18rem;
    padding: 4px 4px 4px 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 350px;
}

.dog img {
    width: 100%; 
}

.labels {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.label {
    font-family: "open sans";
    display: inline;
    list-style-type: none;
    background-color: #89deef;
    border-radius: 10px;
    flex-direction: row;
    padding: 5px;
    flex-wrap: nowrap;
    margin: 5px;
}
footer {
    display: flex;
    font-size: 25px;
    font-family: "Open Sans";
}

footer a {
    text-decoration: none;
    flex: 1;
}

#Donate {
    font-size: 50px;
    line-height: 310px;
    color: white;
    text-align: center;
    background: linear-gradient(
            rgba(118, 68, 184, 0.45),
            rgba(118, 68, 184, 0.45)
        ),
        url(./starter_files/images/donate.jpg);
    background-position: center;
    background-size: cover;
}

#Volunteer {
    font-size: 50px;
    line-height: 310px;
    color: white;
    text-align: center;
    grid-template-rows: auto;
    background: linear-gradient(
            rgba(118, 68, 184, 0.45),
            rgba(118, 68, 184, 0.45)
        ),
        url(./starter_files/images/volunteer.jpg);
    background-position: center;
    background-size: cover;
}

#Location {
    font-size: 50px;
    line-height: 310px;
    color: white;
    text-align: center;
    grid-template-rows: auto;
    background: linear-gradient(
            rgba(118, 68, 184, 0.45),
            rgba(118, 68, 184, 0.45)
        ),
        url(./starter_files/images/location.png);
    background-position: center;
    background-size: cover;
}